body {
     background-color: #fff; /* bgc#fff */ 
     color: #555 ; /* c#fff */
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffArial, "Helvetica Neue", Helvetica, sans-serif */
}
header {
    background-color: #002171; /* bgc#002171 */
    color: #fff; /* c#fff */
}     
nav {
    background-color: #bbdefb; /* bgc#bbdefb */
    font-weight: bold; /* fwb */
}
nav a {
    text-decoration: none; /* txd */
}
h1,h2,h3 {
    margin-bottom: 0; /* mb0 */
}
footer {
  font-family: Georgia, 'Times New Roman', Times, serif; /*fft */
     font-size: 75%; /* fz75% */
     font-style: italic; /* fsi */
     text-align: center; /* ta:c */
}
h2 {
    color: #1976d2; /* c#1976d2 */
}
h3 {
    color: #003; /* c#003 */
}
dt {  
    color: #002171; /* c#002171 */
}
address {
    font-style: normal; /* fsn */
}
.resort {
    color: #1976d2; /* c#1976d2 */
    font-weight: bold;
}
